<div class="full-height">
  <div class="container">
    <div class="row">
      <% if current_user.teams.empty? %>
      </div>
      <div class="team-pick">
        <div class="col-xs-8 col-xs-offset-2">
          <h1>Seems like you don't have a team yet.</h1>
            <p>Go on and create your first one!</p>
          <div class="cta-button">
            <%= link_to "Create a team!", project_teams_path,method: :post, class: "custom-primary-btn" %>
          </div>
        </div>
      </div>
      <% else %>
      <div class="team-pick">
        <div class="col-xs-6 col-xs-offset-3">
          <h1>Select from your teams</h1>
          <div class="team-list">
            <%= form_for [@project, @proposal] do |f| %>
            <%# @teams.map do |team| %>
            <%# f.label :team, value: "#{team.lead_dev.map {|member| member.user.first_name}}'s team" %>
            <%# f.radio_button :team, team.lead_dev, checked: false %>
            <%# end %>
            <%# f.input :team, collection: @teams, as: :radio_buttons, label_method: :lead_dev_label, label: false, hint: false, error: false %>
            <% @teams.each do |team| %>
              <input type="radio" required value="<%= team.id %>" name="proposal[team]" >
              <%= team.lead_dev_label %>
              <ul>
                <% team.team_members.each do |team_member| %>
                  <li><%= team_member.user.first_name %></li>
                <% end %>
              </ul>
            <% end %>
            <%= f.submit class: "custom-primary-btn" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- @teams.map { |team| team.lead_dev.map {|member| member.user.first_name}}
-->
