<div class="header-container-small" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.18) 50%), url('<%= cl_image_path 'bg5.jpg' %>'); background-size: cover; background-position: center; background-attachment: fixed">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Start your proposal!</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="two-column-content">
    <div class="row">
      <div class="double-cta">
        <div class="left-cta team-new col-xs-12 col-md-6" style="background-image: url('<%= cl_image_path 'bg2.jpg' %>'); background-size: cover; background-position: center;">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Do you already have a team?</h1>
            </div>
            <div class="cta-button">
              <%= link_to "Find your team", project_teams_path, class: "terciary-primary-btn" %>
            </div>
          </div>
        </div>
        <div class="right-cta team-new col-xs-12 col-md-6" style="background-image: url('<%= cl_image_path 'bg3.jpg' %>'); background-size: cover; background-position: center;">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Don't have a team yet?</h1>
            </div>
            <div class="cta-button">
              <%= link_to "Create your own", project_teams_path, method: :post, class: "custom-primary-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
