<% @projects.each do |project| %>
<div class="col-xs-12 col-md-4">
  <%= link_to project_path(project.id) do  %>
  <div class="card">
    <div class="card-category" style="background-image: url('<%= cl_image_path project.photo %>');">
      <p class= "custom-primary-btn">Help Out</p>
    </div>
    <div class="card-description">
      <p><%= project.title%></p>
      <h1><%= project.organization.name %></h1>
      <p class="description-text"><%= project.description.truncate(150) %></p>
    </div>
  </div>
  <% end %>
</div>
<% end %>
