
<% @proposals.each do |proposal| %>
<div class="col-xs-6">
  <div class="card-organization">
  <%= link_to edit_proposals_confirm_path(proposal.id) do  %>
    <div class="card-category-organization" style="background-image: url('<%= cl_image_path proposal.project.photo %>');">
      <% if proposal.status == "Pending NGO confirmation" %>
      <div class="button">
          <%= simple_form_for(proposal, url: proposals_confirm_path(proposal.id)) do |f|%>
          <%= hidden_field_tag :status, "Confirmed" %>
          <%= f.button :submit, "Accept", class: "custom-primary-btn" %>
          <% end %>
      </div>
      <div class="button">
          <%= simple_form_for(proposal, url: proposals_confirm_path(proposal.id)) do |f|%>
          <%= hidden_field_tag :status, "Canceled" %>
          <%= f.button :submit, "Decline", class: "custom-primary-btn" %>
          <% end %>
      </div>
      <% else %>
      <h2><%= proposal.status %></h2>
      <% end %>
    </div>
    <div class="card-description-organization">
     <div class="team">
       <% proposal.team.team_members.each do |team_member| %>
       <div class="team-member">
        <p> <%= cl_image_tag team_member.user.avatar, class: "member-avatar" %>
          <%= team_member.user.first_name %>
        </p>
      </div>
      <% end %>
    </div>

    <div class="description-text-organization">
      <p> <%= proposal.pitch.truncate(150) %></p>
    </div>
  </div>
</div>
<% end %>
</div>
<% end %>
