<!-- INVITE BY EMAIL FORM -->
<!-- <div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="title">
      <h1>Invite your teammates</h1>
    </div>
    <div class="form">
      <%#= form_tag team_team_members_path do %>
      <%# @members.each do |member| %>
      <div class="col xs-6">
        <%#= fields_for 'users[]', member do |m| %>
        <%#= m.label 'first_name', "First name" %>
        <%#= m.text_field :first_name %>
      </div>
      <div class="col-xs-6">
        <%#= m.label 'email', "Email" %>
        <%#= m.text_field :email %>
      </div>
      <%# end %>
      <%# end %>
      <div class="actions">
        <%#= submit_tag "Send invitations", class: "custom-primary-btn" %>
      </div>
      <%# end %>
    </div>
  </div>
-->
<%= render 'components/progress' %>
<div class="container-add-user">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Add your team</h1>
        <p>Enter up to 4 emails of Rookstars you want to work with</p>
      </div>
      <div class="col-xs-12">
        <div class="user-add-top">

        <div id="team_members_form">
          <% if @team.team_members.count < 5 %>
          <%= render "form", team: @team %>
          <% end %>
        </div>
        </div>
      </div>
    </div>

      </div>
      <hr>
      <div class="container">
        <div class="title text-center">
          <h1 class="text-center">Your Team</h1>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
            <div class="team-list">
              <div class="team-list-items" id="team_members_list">
                <li><%= cl_image_tag current_user.avatar , class: "avatar" %>
                  <div style="text-align: left; margin-left: 10px;">
                  <p style="margin: 0px; color: #303030;">
                    <%= "#{current_user.first_name} #{current_user.last_name}" %>
                  </p>
                  <p style="font-size: 18px; margin-bottom: 0px;">
                    <%= "#{current_user.email}"%>
                  </p>
                  </div>
                </li>
              </div>
            </div>
            </div>
          <div class="col-xs-12">
              <div style="margin-top: 30px;"></div>
                <%= link_to "Submit", edit_team_path(@team), class: "custom-primary-btn" %>
          </div>
        </div>
      </div>
    </div>

