
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="text-align: center"> User Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <%= image_tag @user.pic_url, class: "avatar-large" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>  <%= @user.first_name%> <%= @user.last_name  %></h2>
      </div>
    </div>
  </div>
  <div class="two-column-cta">
    <div class="row">
      <div class="double-cta">
        <div class="left-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>About me</h1>
              <p><%= @user.about_me %></p>
            </div>
          </div>
        </div>
        <div class="right-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Teams and Projects</h1>
              <% @user.teams.each do |team| %>
              <% team.team_members.each do |team_member| %>
              <%  if team_member.lead_dev %>
              <p> <%= team_member.user.first_name %>'s Team </p>
              <% end %>
              <% end %>
              <% team.applications.each do |app|   %>
              <% if app.accepted %>
              <p> <%= app.project.title %></p>
              <% end %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="get-in-touch">
      <div class="text-center">
        <h2>
          Want to get in touch?
        </h2>
        <p>Get in touch with <%= @user.first_name %></p>
        <%= link_to "Contact", root_path , class: "custom-primary-btn" %>
      </div>
    </div>
  </div>
</div>


