  <div class="navbar-container">
    <% unless current_page? root_path %>
    <div class="navbar-top">
      <div class="back">
        <a href="javascript:history.back()", class="back-text ">
          <i class="back-btn fas fa-arrow-left"></i>
        </a>
      </div>
      <div class="brand">
        <%= link_to root_path do  %>
        <%= image_tag "logo.png", class: "navbar-wagon-brand" %>
        <% end %>
      </div>

      <div class="please-work">
        <% if user_signed_in? %>
        <div class="navbar-top-item">
          <div class="dropdown">
            <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-top-menu" , data:{toggle: "dropdown"} %>
            <ul class="dropdown-menu dropdown-menu-right navbar-top-dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user)  %></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %></li>
              </ul>
            </div>
          </div>
        </div>
        <% elsif  organization_signed_in? %>
        <div class="navbar-top-item">
          <div class="dropdown">
            <%= image_tag current_organization.avatar, class: "avatar dropdown-toggle", id: "navbar-top-menu" , data:{toggle: "dropdown"} %>
            <ul class="dropdown-menu dropdown-menu-right navbar-top-dropdown-menu">
              <li><%= link_to "Profile", organization_path(current_organization)  %></li>
              <li><%= link_to destroy_organization_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %></li>
              </ul>
            </div>
          </div>
        </div>
        <% else %>
        <div class="nav-content">
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-top-eric custom-primary-btn" %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
