<%= render 'components/header' %>
<div class="container-fluid">
  <div class="two-column-cta">
    <div class="row">
      <div class="double-cta">
        <div class="left-cta col-xs-12 col-md-6" style="background-image: url('<%= cl_image_path 'bg2.jpg' %>'); background-size: cover; background-position: center">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Are You a Developer</h1>
              <p>Grow your portfolio through social good.</p>
            </div>
            <div class="cta-button">
              <%= link_to "start", projects_path, class: "custom-primary-btn" %>
            </div>
          </div>
        </div>
        <div class="right-cta col-xs-12 col-md-6" style="background-image: url('<%= cl_image_path 'bg3.jpg' %>'); background-size: cover; background-position: center">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Are You an Organization</h1>
              <p>Improve your digital presence with help of young professionals.</p>
            </div>
            <div class="cta-button">
              <%= link_to "start", projects_path, class: "custom-primary-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <h1 style="color: #005484;" class="text-center">Onboard an ongoing project</h1>
  <br>
  <div class="row">
  <%= render "components/cards" %>
  </div>
</div>
