<div class="container">
<div align="center">
  <%= simple_form_for Contact.new, :html => {:class => 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="col-xs-3" style="width: 225px;">
    <%= f.input :name, :required => true, placeholder: "name" %>
    </div>
      <div class="col-xs-3" style="margin-left: 10px; width: 350px;">
      <%= f.input :email, :required => true, placeholder: "email" %>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-6" >
    <%= f.input :message, :as => :text, :required => true, placeholder: "message" %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "custom-primary-btn form-space" %>
    </div>

    </div>
  </div>
  <% end %>
</div>


</div>
