<div class="header-container">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Pick your cause</h1>
    </div>
  </div>
</div>

<% @projects.each do |project| %>
  <%= project.title %>
  <%= project.description %>
  <%= project.budget %>
  <%= project.due_date %>
  <%= project.status %>
<% end %>
