<% content_for :meta_title, "#{@project.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.description %>
<% content_for :meta_image, cl_image_path(@project.photo) %>


<div class="header-container-small" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.18) 50%), url('<%= cl_image_path @project.photo %>'); background-size: cover; background-position: center; background-attachment: fixed">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1 class="text-center">Project For <%= @organization.name %></h1>
      <br>
      <% if @project.status == "Done" || @joinable %>
            <p>This project can not be joined</p>
          <% else %>
          <div class="cta-button">
            <%= link_to "Join This Project", new_project_team_path(@project), class: "custom-primary-btn" %>
          </div>
          <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="two-column-content">
    <div class="row">
      <div class="double-cta">
        <div class="left-cta col-xs-12 col-md-6" style="background-image: url('<%= cl_image_path 'bg2.jpg' %>'); background-size: cover; background-position: center">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1><%= @organization.name %></h1>
             <strong> <p class="tag-label">About the NGO:</p></strong>
              <p><%= @organization.description %></p>

            </div>
          </div>
        </div>
      </div>
      <div class="right-cta col-xs-12 col-md-6" style="background-image: url('<%= cl_image_path 'bg3.jpg' %>'); background-size: cover; background-position: center">
        <div class="cta-content">
          <hr>
          <div class="text text-overflow">
            <h1>About the Project</h1>
            <strong><p class="tag-label">Project:</p></strong>
            <p><%= @project.title %></p><br>
            <strong><p class="tag-label">Project details:</p></strong>
            <p> <%= @project.description %></p><br>
            <strong><p class="tag-label">Due date:</p></strong>
            <p><%= @project.due_date.strftime("%m - %d - %Y")%></p><br>
           <strong><p class="tag-label">Budget:</p> <p>€<%= @project.budget %> </p>
          <% if @project.status == "Done" || @joinable %>
            <p>This project can not be joined</p>
          <% elsif @proposal_pending %>
            <p>You have a pending application for this project.</p>
            <br>
            <%= link_to "View Project Status", project_proposal_confirm_path(@project, @proposal.id), class: "custom-primary-btn" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% if current_user.class == Organization.class %>
<div class="one-column-cta" style="background-image: url('<%= cl_image_path 'bg.jpg' %>'); background-size: cover; background-position: center">
  <div class="container-fluid">
    <div class="cta-content">
      <hr>
      <div class="text text-center">
        <h1>Are You an Organization</h1>
        <p>Improve your digital presence with help of young profesionals.</p>
      </div>
      <div class="cta-button">
        <%= link_to "start", new_project_path, class: "custom-primary-btn" %>
      </div>
    </div>
  </div>
</div>
<% elsif @project_member %>
<div class="one-column-cta" style="background-image: url('<%= cl_image_path 'bg.jpg' %>'); background-size: cover; background-position: center">
  <div class="container-fluid">
    <div class="cta-content">
      <hr>
      <div class="text text-center">
        <h1>This is one of your projects</h1>
        <p>See your office</p>
      </div>
      <div class="cta-button">
        <%= link_to "Office", project_classroom_path(params[:id]), class: "custom-primary-btn" %>
      </div>
    </div>
  </div>
</div>
<% end %>
