  <%= render 'components/progress' %>
  <div class="full-height">
    <div class="container">
      <div class="row">
        <div class="info">
        </div>
        <div class="col-xs-12 ">
          <div class="proposal-form">
            <div class="form">
              <%= form_for @project do |f| %>
              <%= fields_for :proposals do |proposal| %>
              <%= proposal.label :pitch %>
              <br>
              <%= proposal.text_area :pitch%>
              <% end %>
              <br>
              <%= f.button :submit, class: "custom-primary-btn"  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
