<div class="header-container-small" style="background-image: url('<%= cl_image_path @proposal.project.photo, crop: :fill %>');">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Team Proposal</h1>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="two-column-content">
    <div class="row">
      <div class="double-cta">
        <div class="left-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Team</h1>
              <div class="team-avatar">
                <% @team_members.each do |member| %>
                <% if member.user.photo %>
                <%= cl_image_tag member.user.photo, class: "member-avatar" %>
                <% end %>
                <% end %>
              </div>
              <% @team_members.each do |member| %>
              <p><%= member.user.first_name %>
                <% if member.user.last_name %>
                <%= member.user.last_name %></p>
                <% end %>
                <% end %>
                <br>
                <p class="tag-label">Application Status</p>
                <% if @proposal.joinable %>
                <p>This team is closed</p>
                <% else %>
                <p>This team is open for applicants</p>
                <div class="cta-button">
                  <%= link_to "Apply", new_project_team_path(@project), class: "custom-primary-btn" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="right-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Elevator Pitch</h1>
              <p class="tag-label"><%= @proposal.project.organization.name %></p>
              <p><strong> <%= @proposal.pitch %></strong></p>
              <br>
              <p class="tag-label">Status</p>
              <p><%= @proposal.status %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="one-column-content">
  <div class="container-fluid">
    <div class="cta-content">
      <hr>
      <div class="text">
        <h1>About the team</h1>
        <p><%= @proposal.team.about_us%></p>
      </div>
    </div>
  </div>
</div>
<div class="one-column-cta">
  <div class="container-fluid">
    <div class="cta-content">
      <hr>
      <div class="text text-center">
        <h1>Haven't heard from the NGO yet?</h1>
        <p>Checkout your application status.</p>
      </div>
      <div class="cta-button">
        <%= link_to "Status", project_proposal_confirm_path , class: "custom-primary-btn" %>
      </div>
    </div>
  </div>
</div>

