<div class="container">
  <div class="signing-form">
    <div class="row">
      <div class="text-center">
        <h2>Sign up</h2>
      </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="col-xs-4 col-xs-offset-2">
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>

        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :linkedin%>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="form-actions">
          <%= f.input :about_me %>
          <div class="text-center">
            <%= f.button :submit, "Sign up", class: "custom-primary-btn" %>
            <br>
          </div>
        </div>
        <% end %>
            <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
